{% load static %}

<head>
    <title>BallBlitz</title>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/chat-field.css' %}">
    <link rel="stylesheet" href="{% static 'css/chatroom.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/playground.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="icon" type="image/png" href="{% static 'image/favicon/favicon.png' %}">

</head>

<body style="margin: 0">
    <div id="ac_game_12345678"></div>
    <script type="module">
        import {AcGame} from "{% static 'js/dist/game.js' %}";
        $(document).ready(function(){
            let ac_game = new AcGame("ac_game_12345678");
        });
    </script>
</body>

